body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    text-align: center;
}

#game-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

#question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#letter {
    font-size: 36px;
    font-weight: bold;
    margin-right: 10px;
}

#question {
    font-size: 18px;
}

#input-container {
    margin-bottom: 50px;
    
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-bottom: 20px;
    font-size: 18px;
}

#score {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

#letters-container {
    display: flex;
    justify-content: center;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

#restart-button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: gray;
    border-radius:4px;
}
